@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.blurBg {
    backdrop-filter: blur(10px);
    background-color: rgba(246, 246, 246, 0.3);
    z-index: 1;
}

body.dark .blurBg {
    backdrop-filter: blur(10px);
    background-color: rgba(2, 7, 23, 0.2);
    z-index: 1;
    color: #e2e8f0;
}

.blurBgHeader {
    backdrop-filter: blur(10px);
    background-color: rgba(246, 246, 246, 0.5);
    z-index: 2;
}

body.dark .blurBgHeader {
    backdrop-filter: blur(10px);
    background-color: rgba(2, 7, 23, 0.5);
    z-index: 2;
    color: #e2e8f0;
}

.section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.formations, .projects {
    background-image: url('/assets/blur-4.svg');
}


.about {
    background-image: url('/assets/blur-2.svg');
}

.skills {
    background-image: url('/assets/blur-1.svg');
}


